<%- include('header.ejs') %>

<form action="/place-bid" method="post">
  <input type="number" placeholder="Bid" name="bid" id="bid" required />
  <button type="submit">Place bid</button>
</form>

<form action="/min-bid">
  <button type="submit">Check smallest bid</button>
</form>

<%- include('footer.ejs') %>
